<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">

<head th:include="common/header :: common-header"/>

<body>

<div th:include="common/navbar :: common-navbar"/>

<div class="container">

    <div class="starter-template">
        <h1 th:text="#{index.main.callout}"/>
        <p class="lead">Use this document as a way to quickly start any new project.<br/> All you get is this text and a mostly barebones HTML document.</p>
    </div>

</div><!-- /.container -->

<div th:include="common/header :: common-body-scripts"/>

</body>
</html>